.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #ff1a8c;
	border: none;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	width: 60px;
	height: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 25px;
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0.8;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover {
	background-color: #cc0066;
}


/*
.button:hover span {
	padding-right: 25px;
	*/


}

.button:hover span:after {
	opacity: 1;
	right: 0;
}